<div class="row">
<div class="row"><div class="form-group col-lg-12"></div></div>
<div class="row"><div class="form-group col-lg-12"></div></div>


	<!-- ############################## firsh column ########################################### -->
	<div class="col-md-1"></div>

	<!-- ############################## second column ########################################### -->
	<div class="col-md-6">
	
		<button type="button" ng-click="pullJob()" class="btn btn-secondary btn-lg btn-block" style="margin-top: 186px; background-color: #6fdc6f !important;">Pull Orders</button>
	
	</div>

	<!-- ################################ third column ########################################### -->
	<div class="col-md-4">

		<div class="jumbotron" style="margin-top: 80px;">
			<h3 class="display-3" style="text-align:center; margin-top: -27px;">New Orders</h3>
			<hr class="my-4">
			<h1 class="lead" style="text-align:center">{{newOrder}}</h1>
		</div>

	</div>
	
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div ng-hide="loginAlertMessage"  class="alert alert-danger" role="alert">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			 	No order to pull! Please wait for new order.
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>

	<!-- ################################ fourth column ########################################### -->
	<div class="col-md-1"></div>
















</div>