<!--  <div>

<button ng-click="pizzaType()">Hand made</button>

<button ng-click="pizzaType()">oven Toasted</button>

<div>{{name}}</div>
<div>{{email}}</div>

</div>-->
<div class="row"></div>
<div class="row"></div>
<br><br>
<div class="row">
	<div class="col-md-1"></div>
	
	<div class="col-md-5">
		<div class="panel panel-default thumbnail">
			<div class="panel-body" style="padding:1px !important">
				<a href ng-click="pizzaType()"> <img src="../images/handMade.jpg"
					class="img-thumbnail img-responsive" style="width:300px; height: 200px">
				</a>
				<div class="panel-footer" style="padding:1px !important; text-align: center"><h4><strong>Hand Made</strong></h4></div>
			</div>
		</div>
	</div>
	
	<!-- <div class="col-md-1"></div> -->
	
	<div class="col-md-5">
		<div class="panel panel-default thumbnail">
			<div class="panel-body" style="padding:1px !important">
				<a href ng-click="pizzaType()"> <img src="../images/thinCrust.jpg"
					class="img-thumbnail img-responsive" style="width:300px; height: 200px">
				</a>
				<div class="panel-footer" style="padding:1px !important; text-align: center"><h4><strong>Thin Crust</strong></h4></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-1"></div>
</div>