<link rel="stylesheet" href="../css/trackOrder.css" >
	<div class="header">
		<h1>Shipment Track</h1>
	</div>

	<div class="content">
		<div class="content1">
			<h2>Order Tracking</h2>
		</div>
		<div class="content2">
			<div class="content2-header1">
				<p>
					Order Number : <span>{{order_no}}</span>
				</p>
			</div>
			<div class="content2-header1">
				<p>
					Status : <span>Checking Quality</span>
				</p>
			</div>
			
			<div class="clear"></div>
		</div>
		<div class="content3">
			<div class="shipment">
				<div class="confirm">
					<div class="imgcircle done">
						<img src="images/confirm.png" alt="confirm order">
					</div>
					<span class="line"></span>
					<p>Confirmed Order</p>
				</div>
				<div class="process">
					<div class="imgcircle">
						<img src="images/process.png" alt="process order">
					</div>
					<span class="line"></span>
					<p>Processing Order</p>
				</div>
				<div class="quality">
					<div class="imgcircle">
						<img src="images/quality.png" alt="quality check">
					</div>
					<span class="line"></span>
					<p>Quality Check</p>
				</div>
				<div class="dispatch">
					<div class="imgcircle">
						<img src="images/dispatch.png" alt="dispatch product">
					</div>
					<span class="line"></span>
					<p>Dispatched Item</p>
				</div>
				<div class="delivery">
					<div class="imgcircle">
						<img src="images/delivery.png" alt="delivery">
					</div>
					<p>Product Delivered</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>